@import "../../../fonts.scss";
@keyframes appear{
    0%{
      opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
  }

  @mixin input {
    &:focus {
      outline: none;
    }
  
    &::placeholder {
      color: black;
      opacity: 1;
    }
  
    &:focus::placeholder {
      transition: all 0.4s;
      font-size: 0.9rem;
    }
  }
  
.body {
  background-image: linear-gradient( to right top, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url("../../../assets/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 2rem 0;
  border-radius: 2.5rem;
  max-width: 480px;
  width: 100%;
  background: #aadef3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  padding: 3rem 3rem 3.8rem 3rem;
  animation: appear 1s;

  .title {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
  }

  .error-box {
    background-color: rgb(255, 112, 112);
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &.open {
      height: auto;
      padding: 20px;
    }
  }

  form {
    margin-top: 20px;

    .form-inputs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .senha {
        background: rgb(255, 255, 255);
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        color: black;
        transition: all 0.4s;
        font-family: Montserrat-regular;
        display: flex;
        input {
          height: 100%;
          font-size: 1rem;
          padding: 0.8rem;
          width: 100%;
          background: transparent;
          font-family: Montserrat-regular;
          border: none;
          @include input;
        }
        .visible{
          width: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          #eye{
            width: 1.6rem;
            height: 1.4rem;
          }
        }
      }
      input {
        padding: 0.8rem;
        font-size: 1rem;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        color: black;
        transition: all 0.4s;
        font-family: Montserrat-regular;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: black;
          opacity: 1;
        }

        &:focus::placeholder {
          transition: all 0.4s;
          font-size: 0.9rem;
        }
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 100%;
        height: 100%;
        border: 0px;
        padding: 8px 10px;
        font-size: 1rem;
        border-bottom: 2px solid #000;
        background: #aadef3;
        font-family: Montserrat-regular;
      }
    }
    .terms {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      p {
        margin-left: 0.5rem;
      }
      .check {
        width: 15px;
        height: 15px;
        position: relative;
        display: block;
        cursor: pointer;

        input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;

          &:checked ~ .checkmark:before {
            display: block;
          }
        }
        .checkmark {
          width: 15px;
          height: 15px;
          background-color: #fff;
          color: black;
          display: block;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 1px;
            left: 2px;
            width: 5px;
            height: 2px;
            border: 2px solid;
            border-color: transparent transparent #000 #000;
            transform: rotate(-45deg);
            display: none;
          }
        }
      }
    }
    .btn-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      .btn-forms {
        font-family: Montserrat-regular;
        cursor: pointer;
        width: 10rem;
        height: 3.2rem;
        background-color: white;
        border: none;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.63);
        font-weight: bold;
        font-size: 1.1rem;
        transition: all 0.4s;

        &:hover {
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.63);
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(1px);
        }
      }
      p {
        margin-top: 1.6rem;
        a {
          color: black;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}
