@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveRigth {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.div-img {
  position: relative;
  z-index: 1;
  margin-top: 13vh;
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba(73, 73, 73, 0.56),
      rgba(71, 71, 71, 0.56)
    ),
    url("../../../../assets/familia-feliz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  backface-visibility: hidden;
  .text-box {
    position: absolute;
    top: 43%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 1rem;
    .primary-text {
      font-size: 60px;
      letter-spacing: 15px;
      animation-name: moveLeft;
      animation-duration: 2.5s;
      backface-visibility: hidden;
    }

    .second-text {
      display: block;
      letter-spacing: 8px;
      font-size: 25px;
      margin-top: 0.8rem;
      animation: moveRigth 2.5s;
    }
  }
}
