@import "../../../fonts.scss";

@keyframes openModal {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

body {
  .section-pesquisa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    margin-top: 13vh;

    .title{
      color: #474747;
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    .div-pesquisa {
      width: 50%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   border: rgb(255, 14, 14) 1px solid;
      //   padding: 0.3rem 0.5rem;
      //   border-radius: 16px;

      input {
        font-family: Montserrat-regular;
        font-size: 1.1rem;
        margin-top: 1.5%;
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
        width: 100%;
        color: #65686e;
        border: 1px solid #909599;
        transition: all 0.4s;

        &:hover {
          box-shadow: 0px 0px 15px #5a5a5a49;
        }
        &:focus {
          border: 1px solid #291868;
          box-shadow: 0px 0px 10px #5a5a5a52;
          outline: none;
        }
      }

      button {
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      &:focus {
        background: #000;
      }
    }

    .div-resultados {
      background: #fcfcfc;
      width: 48%;
      max-height: 200px;
      border-radius: 8px;
      overflow-y: scroll;
      color: #65686e;
      box-shadow: 0px 5px 15px #47474736;
      z-index: 5;
      transition: all 0.05s;
      
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: rgb(151, 151, 151);
      }

      .card-alimento {
        width: 100%;
        margin: 5px 0;
        cursor: pointer;
        transition: all 0.4s;
        padding: 0.2rem 0.5rem;

        &:hover {
          background-color: #f3f3f3;
        }
      }
    }
  }

  .section-alimentoInfo {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .cardInfo-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 101;
      backdrop-filter: blur(6px);
      background-color: rgba(54, 54, 54, 0.3);
    }

    .cardInfo {
      width: 70vw;
      height: auto;
      position: fixed;
      z-index: 102;
      padding: 5vh 5vh 6vh 5vh;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
      border-radius: 20px;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.425);
      animation: openModal .5s;

      .btn-close {
        position: absolute;
        right: 2vh;
        top: 2vh;
        font-size: 40px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          color: rgb(85, 85, 85);
        }
      }

      .title-food {
        color: #474747;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 700;
      }
      ul {
        list-style: none;
      }

      li {
        color: #65686e;
        margin-top: 7px;
      }
    }
  }
}
